@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
    src: url(assets/fonts/Satoshi-Light.woff2) format(woff2);
    font-family: "Satoshi-light";
    font-display: swap;
  }
  
  @font-face{
    src: url(assets/fonts/Satoshi-Regular.woff2) format(woff2);
    font-family: "Satoshi-Regular";
    font-display: swap;
  }
  
  @font-face{
    src: url(assets/fonts//Satoshi-Medium.woff2) format(woff2);
    font-family: "Satoshi-Medium";
    font-display: swap;
  }
  
  
  @font-face{
    src: url(assets/fonts/Satoshi-Bold.woff2) format(woff2);
    font-family: "Satoshi-Bold";
    font-display: swap;
  }

  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  /* ::-moz-selection {
    color: #fff;
    background: rgb(79, 148, 1);
  }
  
  ::selection {
    color: #fff;
    background: rgb(79, 148, 1);
  } */
  
  /* 
  ::-webkit-scrollbar{
  width: 12px;
  background: rgb(206, 204, 204);
  }
  
  ::-webkit-scrollbar-thumb{
  background:#6b6a6a;
  
  }
  
  ::-webkit-scrollbar-thumb:hover{
  background:#4b4b4b;
  cursor: pointer;
  } */
  
  
  [type="date"] {
    background: url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  95% 50% no-repeat ;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  ::-webkit-datetime-edit-text { color:#9ca3af}
  ::-webkit-datetime-edit-month-field { color:#9ca3af }
  ::-webkit-datetime-edit-day-field { color: #9ca3af; }
  ::-webkit-datetime-edit-year-field { color:#9ca3af; }
  
  body{
    background-color: #fff;
    color: black;
    font-family: "Satoshi-Regular", sans-serif;
    overflow-x: hidden;
  }
  
  
  .shades{
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 33px 0px rgba(155, 155, 155, 0.30);
  }